<div class="col-md-6 col-md-offset-3">
    <h2>Register</h2>
    <div class="alert alert-success" role="alert" ng-if="tmscontroller.successMessage">{{tmscontroller.successMessage}}</div>
	<div class="alert alert-danger" role="alert" ng-if="tmscontroller.errorMessage">{{tmscontroller.errorMessage}}</div>
    <form name="tmsregister" ng-submit="tmscontroller.register()" role="form" autocomplete="off">
        <div class="form-group" ng-class="{ 'has-error': tmsregister.firstName.$dirty && form.firstName.$error.required }">
            <label for="username">First name</label>
            <input type="text" name="firstName" id="firstName" class="form-control" ng-model="tmscontroller.user.firstName" required />
            <span ng-show="tmsregister.firstName.$dirty && tmsregister.firstName.$error.required" class="help-block">First name is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': tmsregister.lastName.$dirty && tmsregister.lastName.$error.required }">
            <label for="username">Last name</label>
            <input type="text" name="lastName" id="Text1" class="form-control" ng-model="tmscontroller.user.lastName" required />
            <span ng-show="tmsregister.lastName.$dirty && tmsregister.lastName.$error.required" class="help-block">Last name is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': tmsregister.userName.$dirty && tmsregister.userName.$error.required }">
            <label for="userName">Username</label>
            <input type="text" name="userName" id="userName" class="form-control" ng-model="tmscontroller.user.userName" required />
            <span ng-show="tmsregister.userName.$dirty && tmsregister.userName.$error.required" class="help-block">Username is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': tmsregister.password.$dirty && tmsregister.password.$error.required }">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" ng-model="tmscontroller.user.password" required />
            <span ng-show="tmsregister.password.$dirty && tmsregister.password.$error.required" class="help-block">Password is required</span>
        </div>
        <div class="form-actions">
            <button type="submit" ng-disabled="tmsregister.$invalid" class="btn btn-primary">Register</button>
            <a ng-href="#" ng-click="tmscontroller.goToLogin()" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div>